<%= form_for @distro, url: distros_path, html: { multipart: true } do |f| %>
  <% if @distro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@distro.errors.count, "error") %> prohibited this distro from being saved:</h2>

      <ul>
      <% @distro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit class: "waves-effect waves-light btn" %>
  </div>
<% end %>
